*
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body
{
    padding: 0px 0px 5px 0px;
    margin: 0px 0px;
    height: 100%;
}
body
{
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.scroll-x
{
    overflow-x: auto;
}
.scroll-y
{
    overflow-y: auto;
}
.sidebar-nav
{
    padding: 9px 0;
}
.height-set
{
    height: 100%;
}
