<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="#">KAIZEN</a>
            <div class="nav-collapse collapse">
                <ul class="nav" data-bind="foreach: { data: menus, as: 'menu' }">
                    <li><a href=""><span data-bind="text: menu.name"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid height-set">
	<div class="row-fluid height-set">
		<div class="span3 height-set">
			<div class="well sidebar-nav height-set scroll-y">
       			<ul class="nav nav-list" data-bind="foreach: { data: submenus, as: 'submenu' }">
       				<li><a href="#"><span data-bind="text: submenu.name"></span></a></li>
       			</ul>
   			</div>
   		</div>
        <div class="span9 height-set" style="padding-bottom: 30px">
            <div class="container height-set" style="padding-bottom: 30px">
          	    <div class="well">
          		    <a class="btn" id="addbutton">Add</a>
                    <a class="btn" id="savebutton" style="display:none">Save</a>
          		</div>
          		<div id="tableview" class="height-set scroll-x scroll-y" data-bind="html: tableview">
                </div>
                <div id="addview" class="height-set scroll-x scroll-y" data-bind="html: addview">
                </div>
            </div>
        </div>
    </div>
</div>

